@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --auth-gradient-outside: #3d84f5;
  --auth-gradient-inside: #6f9ee8;
  --sidebar-bg: #282e42;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-bg: var(--sidebar-bg);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
